body {
    padding-top: 45px;
}

.jumbotron {
    min-height: 190px;
}

.sponsor_image {
    max-width: 300px;
    max-height: 150px;
    margin-left: 15px;
    margin-right: 15px;
}

hr {
    clear: both
}
