body {
    padding-top: 45px;
    /*color: #860000;*/
}

.jumbotron {
    min-height: 190px;
    /*background-color: #820000;*/
}

.other-logo {
    max-width: 300px;
    max-height: 150px;
    margin-left: 15px;
    margin-right: 15px;
}

hr {
    clear: both
}

.btn-custom {
    /*background-color: #5a0000;
    border-color: #fff0ae;*/
    border-width: 2px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.btn-custom:hover {
    /*background-color: #360000;
    border-color: #fff0ae;*/
}

.navbar-inverse {
	/*background-color: #5a0000;
	border-color: #4c0000;*/
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	/*background-color: #820000;
	color: #ffe8d4;
	border-color: #4c0000;*/
}

.other-logo.center-block {
	margin-right: auto;
	margin-left: auto;
}
