---
layout: titled
---

{{ content }}

<h2> What a Session looks like </h2>

<p>
  There will be an option to give a 25 min session or a 50 min session.
  The session topics can cover a variety of topics.
  Special equipment is not necessary to give a talk but if you'd like media,
  please let our schedulers know as not all of our rooms will be equipped with the same things.
</p>
<p>
  The process for signing up is simple; you will be given a sticky note
  (a whole one for a full session and a half one for half a session).
  Write the topic you will be speaking about and your name.
  Then place the sticky note in the timeslot you would like to speak in.
</p>
<p>
  Attendees will be given the opportunity to vote for the sessions they plan on going to.
  This will give the schedulers a good idea of what room size to place you in.
</p>

<table class="table table-striped">
  <thead>
    <tr><th>Time</th><th>Description</th></tr>
  </thead>
  <tbody>
    <tr><td>8:30am</td><td>Morning break</td></tr>
    <tr><td>9:30am</td><td>Session 1</td></tr>
    <tr><td>10:300am</td><td>Session 2</td></tr>
    <tr><td>11:30am</td><td>Lunch!</td></tr>
    <tr><td>12:30pm</td><td>Lightning Talks</td></tr>
    <tr><td>1:00pm</td><td>Session 3</td></tr>
    <tr><td>2:00pm</td><td>Session 4</td></tr>
    <tr><td>3:00pm</td><td>Session 5</td></tr>
    <tr><td>4:00pm</td><td>Session 6</td></tr>
    <tr><td>5:30pm</td><td>Session 7</td></tr>
  </tbody>
</table>
